[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
astunparse = "*"
audioread = "*"
certifi = "*"
dataclasses = "*"
dill = "*"
filelock = "*"
fsspec = "*"
future = "*"
gast = "*"
joblib = "*"
keras-preprocessing = "*"
llvmlite = "*"
matplotlib = "*"
nltk = "*"
numba = "*"
numpy = "*"
oauthlib = "*"
pandas = "*"
pillow = "*"
protobuf = "*"
pydub = "*"
pytorch-lightning = "*"
regex = "*"
resampy = "*"
sacremoses = "*"
scikit-learn = "*"
scipy = "*"
seaborn = "*"
sentencepiece = "*"
sonopy = "*"
soundfile = "*"
tabulate = "*"
tensorboard = "*"
tensorboard-plugin-wit = "*"
tensorflow = "*"
tensorflow-estimator = "*"
tokenizers = "*"
torch = "*"
torchaudio = "*"
torchtext = "*"
torchvision = "*"
tqdm = "*"
transformers = "*"
typing-extensions = "*"
bardapi = "*"
gpt4all = "*"
gtts = "*"
opencv-python = "*"
playsound = "*"
requests = "*"
speechrecognition = "*"
tts = "*"
pyaudio = "*"
simpleaudio = "*"

[dev-packages]

[requires]
python_version = "3.10"
